.popular-product-header h2,
.popular-brand-header h2 {
  font-size: 30px;
  line-height: 30px;
  color: #3d546e;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
}

.popular-product-item h3,
.product-item h3 {
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
}

.service-header h2 {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
}
  
.sorting h2 {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
}

.filters h2 {
  font-size: 13px;
  line-height: 18px;
  color: 000000;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
}

.page-title h1 {
  font-size: 30px;
  line-height: 30px;
  color: #3d546e;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
}

