

body {
  box-sizing: border-box;
  
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  
}

a {
  text-decoration: none; 
}

  *,
  *::after,
  *::before {
    box-sizing: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.button {
  font: inherit;
  
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  
  background-color: #ee3643;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}


.sales-button {
  background-color: #63a63e;
}

.sales-button:hover {
  background-color: #5fbb2d;
}

.sales-button:active {
  background-color: #518534;
}

.marker-button {
  font: inherit;
  
  background-color: #ffffff;
  border: 3px solid #63a63e;
  color: #32425c
}

.marker-button:hover {
  background-color: #ffffff;
  border: 3px solid #32425c;
}

.marker-button:active {
  border: 3px solid rgba(50, 66, 92, 0.3);
  color: rgba(50, 66, 92, 0.3);
}


.services-product-button {
  font: inherit;
  
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
}

.services-product-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.services-product-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}


.main-header {
  background-color: #f3f7f9;
  padding-bottom: 60px;
  margin-bottom: 59px;
  
}

.main-header-top {
  background-color: #33445a;
}

.main-header-top a {
  color: #ffffff;
}




.main-header-top a:active {
  color: rgba(255, 255, 255, 0.6);
}

.description-header {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  
  color: #ff5357;
}

.phone-header a {
  font-size: 21px;
  line-height: 18px;
  
  color: #fb463c;
}

.address-header {
  margin: 0;
  
  font-size: 14px;
  line-height: 24px;
  
  color: #3d546e;
}

.login-and-registry-list,
.main-navigation-list {
  list-style: none;
}

.login-and-registry-list a {
  font-size: 21px;
  
  color: #000000;
}

.login-and-registry-list a:hover {
  color: #ee3643;
}

.login-and-registry-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  background-color: #32425c;
}

.main-navigation-list a {
  font-size: 17px;
  color: #ffffff;
}

.main-navigation-list a:hover {
  background-color: #293449;
}

.main-navigation-list a:active {
  background-color: #293449;
  color: rgba(255, 255, 255, 0.5);
}

.services-product-list {
  list-style: none;
}



.material {
  background-color: #ffbf47;
}

.tool {
  background-color: #3bbce3;
}

.technology {
  background-color: #dc91d8;
}

.punchers p {
  text-transform: uppercase;
}

.punchers a {
  font-size: 17px;
  text-transform: uppercase;
  
  background-color: #ff5357;
}

.punchers span {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  
  background-color: #ffffff;
}


.discounts {
  background-color: #8ed78f;
}

.delivery-services {
  background-color: #ffc047;
}

.popular-product-header,
.popular-brand-header {
  background-color: #f9f5f0;
}

.popular-product-header h2,
.popular-brand-header h2 {
  flex-grow: 1;
  
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  
  color: #3d546e;
}

.popular-product-header a {
  font-size: 17px;
  text-transform: uppercase;
  color: #ffffff;
  
  background-color: #ff5357;
}


.popular-brand-header-list {
  list-style: none;
}

.popular-product-catalog-item,
.popular-brand-header-list li {
  border: 1px solid #eaeaea;
}

.popular-product-catalog-item:hover,
.popular-brand-header-list li:hover {
  box-shadow: 0px 10px 25px 0 rgba(29, 34, 49, 0.5);
}

.popular-brand-header-list li:active {
  opacity: 0.3;
}

.popular-product-catalog-item h3 {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  
  color: #000000;
}

.old-val {
  font-family: "PT Sans", Arial sans-serif;
  font-weight: 700;
  
  color: #a9a9a9;
  text-decoration: line-through;
}

.val {  
  font-family: "PT Sans", Arial sans-serif;
  font-weight: 700;
  
  color: #ffffff;
  background-color: #ee3643;
}

.service {
  background-color: #f4f8fa;
}

.service-info h2 {
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  
  color: #000000;
}

.service-descr h2 {
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
  
  color: #3d546e;
}

.service-info p,
.service-descr p {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 13px;
  line-height: 24px;
  
  color: #000000;
}

.delivery-brand {
  list-style: none;
  
  font-size: 18px;
  line-height: 20px;
  
  color: #000000;
}

.user {
  font-size: 21px;
  line-height: 18px;
  
  color: #000000;
}

.user:active {
  color: rgba(0, 0, 0, 0.3); 
}


.personal-area-list{
  list-style: none;
}

.personal-area-list-item a {
  font-size: 16px;
  line-height: 18px;
  
  text-decoration: underline;
  
  color: #32425c;
}

.personal-area-list-item a:focus,
.personal-area-list-item a:hover {
  color: #ee3643;
}

.personal-area-list-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-list {
  list-style: none;
}

.breadcrumbs-item a,
.breadcrumbs-item-current {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 13px;
  line-height: 18px;
  
  color: #000000;
}

.page-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  
  color: #32425c;
  background-color: #f2f6f8;
}

.filters fieldset {
  border: none;
}



.filter-caption {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  
  color: #000000;
}

.filter-val {
  background-color: #f7f3ec;
}

.filter p {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 17px;
  line-height: 30px;  
  background-color: #f7f3ec;
  
  color: #000000;
}

.filter-option-list {
  list-style: none;
}

.filter-option-item {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 15px;
  line-height: 20px;
  
  color: #000000;
}

.filter-option-item:disabled + span {
  color: #000000;
  
  opacity: 0.4;
}

.sorting h2 {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  
  color: #000000;
}

.sorting-list a { 
  font-family: "PT Sans", Arial sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: underline;
  
  color: #000000;
  
  opacity: 0.3;
}

.sorting-list a:hover,
.sorting-list a:focus {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: underline;
  
  color: #000000;
  opacity: 1;
}

.sorting-list a:active {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: underline;
  
  color: #ee3643;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 13px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  
  color: #000000;
}

.pagination-item-current a {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 13px;
  background-color: #ee3643;
  
  color: #ffffff;
}

.pagination-item a:focus,
.pagination-item a:hover {
  border-color: #bdc6ca;
}

.pagination-item a:active {
  border-color: #ee3643;
}


.main-footer {
  background-color: #3d546e;
}

.main-footer-bottom {
  background-color: #33445b;
}

.site-navigation,
.site-navigation-2,
.footer-social {
  list-style: none;
}

.site-navigation a,
.footer-social a,
.developed a {
  color: #f3f7f9;
}

.site-navigation-2 a,
.developed p,
.developed a {
  color: #ffda96;
}

.developed a:focus,
.developed a:hover {
  text-decoration: underline;
}

.developed a:active {
  color: #ee3643;
  
  text-decoration: none;
}

.site-navigation a:focus,
.site-navigation a:hover,
.site-navigation-2 a:focus,
.site-navigation-2 a:hover {
  text-decoration: underline;
}

.site-navigation a:active,
.site-navigation-2 a:active {
  text-decoration: none;
  opacity: 0.5;
}

.modal {
  color: #000000;
  
  background-color: #ffffff;
}

.modal label {
  font-size: 18px;
  line-height: 18px;
}

.form input[type="text"] {
  font: inherit;
  font-family: "PT Sans", Arial sans-serif;
  font-size: 13px;
  line-height: 18px;
  
  color: #000000;
  border: 2px solid #dee3e4;
}

.modal-basked p{
  font-size: 30px;
  line-height: 18px;
  
  color: #000000;
}

.continue-shopping {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  
  text-transform: uppercase;
  
  background-color: #ffffff;
}
*/
/* ----- Базовые стили ----- */


/* ----- Сеточные стили ----- */

.main-body {
  /* Временно для сетки */

  min-width: 960px;

  background-image: url("/img/technomart-index.jpg");
  background-size: 960px auto;
  background-repeat: no-repeat;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  
  /* Временно для сетки */
  outline: 2px solid red;
}

.main-header-top-flex {
  display: flex;
  margin-bottom: 46px;
  
  /* Временно для сетки */
  min-height: 42px;
}

.main-header-logo {
  width: 220px;
  
  /* Временно для сетки */
  outline: 2px solid orange;
}

.search {
  width: 270px;
  
  /* Временно для сетки */
  outline: 2px solid orange;
}

.marker-header {
  width: 150px;
  
  /* Временно для сетки */
  outline: 2px solid orange;
}

.global-panel-basket {
  width: 150px;
  
  /* Временно для сетки */
  outline: 2px solid orange;
}

.sales-button {
  width: 150px;
  
  /* Временно для сетки */
  outline: 2px solid orange;
}

.main-header-bottom-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; 
}

.description-header {
  margin: 0;
  margin-right: 20px;
  
  width: 300px;
  
  /* Временно для сетки */
  min-height: 76px;
  outline: 2px solid orange;
}


.phone-address {
  margin-right: 20px;
  
  width: 300px;
  
  /* Временно для сетки */
  min-height: 76px;
  outline: 2px solid orange;
}

.login-and-registry-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
  
  width: 300px;
  
  /* Временно для сетки */
  outline: 2px solid orange;
}

.main-navigation {  
  width: 100%;
  margin-top: 36px;
  
  /* Временно для сетки */
  min-height: 60px; 
  outline: 2px solid orange;
}

.main-navigation-list {
  display: flex;
  justify-content: space-around;
  
  list-style: none;
  
  margin: 0;
  padding: 0;
}


.services-product-list {
  margin: 0;
  padding: 0;
  
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style: none;
  
  /* Временно для сетки */
  min-height: 409px; 
  outline: 2px solid orange;
}

.services-product {
  margin-bottom: 53px;
}

.material {
  width: 300px;
  margin-right: 20px;
  
  /* Временно для сетки */
  min-height: 123px; 
  outline: 2px solid orange;
}

.tool {
  width: 300px;
  margin-right: 20px;
  
  /* Временно для сетки */
  min-height: 123px; 
  outline: 2px solid orange;
}

.technology {
  width: 300px;

  /* Временно для сетки */
  min-height: 123px; 
  outline: 2px solid orange;
}


.punchers {
  width: 620px;
  height: 266px;
  margin-top: 20px;
  margin-right: 20px;
  overflow: hidden;
  
  /* Временно для сетки */
  outline: 2px solid orange;
}


.discounts {
  width: 300px;
  margin-top: 20px;

  /* Временно для сетки */
  min-height: 120px; 
  outline: 2px solid orange;
}

.delivery-services{
  width: 300px;
  margin-top: -120px;
  margin-left: auto;

  min-height: 120px; 
  outline: 2px solid orange;
}


.popular-product-header {
  display: flex;
  align-items: center;
  
  margin-bottom: 20px;
  ;
  /* Временно для сетки */
  min-height: 89px; 
  outline: 2px solid orange;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: space-between;
  
  /* Временно для сетки */
   
  outline: 2px solid orange;
}

.popular-product-catalog-item {
  width: 220px;
  
  /* Временно для сетки */
  min-height: 318px;
  outline: 2px solid orange;
}

.popular-brand-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
  margin-bottom: 20px;
  
  /* Временно для сетки */
  min-height: 89px; 
  outline: 2px solid orange;
  
}

.popular-brand-header-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  
  
  margin: 0;
  padding: 0;
  margin-bottom: 85px;
  
  list-style: none;
  
  
  /* Временно для сетки */
/*  min-height: 310px; */
  outline: 2px solid orange;
}

.popular-brand-header-item {
  width: 220px;
  display: flex;
  /* Временно для сетки */
  height: 145px;
  outline: 2px solid orange;

}

.popular-brand-header-list li:nth-child(n+5) {
  margin-top: 20px;
}

.service-flex {
  display: flex;
  flex-direction: column;
  
  padding-top: 63px;
    
  width: 940px;
  
  /* Временно для сетки */
  min-height: 356px;
  outline: 2px solid red;
}

.service-header {
  width: 460px;
  margin-bottom: 75px;
  
  /* Временно для сетки */
  min-height: 100px;
  outline: 2px solid orange;
}


.delivery {
  width: 620px;
  
  margin-left: auto;
  
  /* Временно для сетки */
  min-height: 288px;
  outline: 2px solid orange;
}


.description {
  display: flex;
  
  padding-top: 79px;
  padding-bottom: 86px; 
  
  /* Временно для сетки */

  outline: 2px solid orange;
}

.about-company {
  width: 540px;
  margin-right: 20px;

  /* Временно для сетки */

  outline: 2px solid orange;
}

.contact {
  width: 380px;
  
  /* Временно для сетки */
  outline: 2px solid orange;
}

.flex-footer {
  display: flex;
  flex-wrap: wrap;
  
  padding-bottom: 52px;
}

.main-header-logo-footer {
  width: 220px;
  
  /* Временно для сетки */
  min-height: 68px;
  outline: 2px solid orange;
}

.site-navigation {
  width: 560px;
  
  list-style: none;
  
  margin: 0;
  margin-left: auto;
  padding: 0;
  
  /* Временно для сетки */
  outline: 2px solid orange;
}

.contact-footer {
  width: 380px;
  
  margin: 0;
  margin-top: 30px;
  
  /* Временно для сетки */
  min-height: 41px;
  outline: 2px solid orange;
}

.site-navigation-2 {
  width: 560px;
  
  list-style: none;
  
  margin: 0;
  
  padding: 0;
  margin-top: 30px;
  margin-left: auto;
  /* Временно для сетки */
  min-height: 41px;
  outline: 2px solid orange;
}

.flex-footer-bottom {
  display: flex;
  padding-top: 34px;
}

.copyrighted {
  width: 240px;
  
  margin: 0;
  margin-right: 140px;
  
  /* Временно для сетки */
  min-height: 36px;
  outline: 2px solid orange;
}

.footer-social {
  width: 160px;
  
  list-style: none;
  margin: 0;
  padding: 0;
  
  margin-right: 81px;
  
  /* Временно для сетки */
  outline: 2px solid orange;
}

.developed {
  width: 160px;
  
  margin: 0;


  /* Временно для сетки */
  outline: 2px solid orange;
}



.catalog {
    /* Временно для сетки */

  min-width: 960px;

  background-image: url("/img/technomart-catalog.jpg");
  background-size: 960px auto;
  background-repeat: no-repeat;
}

.main-header-bottom-flex.inner-page { 
  margin-bottom: 0px;
}


.breadcrumbs-list {
  min-width: 380px;
  
  
  list-style: none;
  margin: 0;
  padding: 0;
  
  /* Временно для сетки */
  min-height: 59px;
  outline: 2px solid orange;
}

.page-title {  
  margin: 0;
  margin-bottom: 20px;
  
  /* Временно для сетки */
  min-height: 89px;
  outline: 2px solid orange;
}

.filter-catalog {
  display: flex;
  margin-bottom: 52px;
  
  /* Временно для сетки */
  outline: 2px solid orange;
}

.filters {
  width: 220px;
  margin-right: 20px;
  /* Временно для сетки */
  outline: 2px solid orange;
}

.filter-caption {  
  margin: 0;
  /* Временно для сетки */
  min-height: 38px;
  outline: 2px solid orange;
}

.form-price,
.checkbox,
.radio-button {
  border: none;
  margin: 0;
  padding: 0;
}


.form-price {
  margin: 0;
  padding: 0;
  
  /* Временно для сетки */
  min-height: 207px;
  outline: 2px solid orange;
}

.filter-option-checkbox-list {  
  list-style: none;
  
  margin: 0;
  padding: 0;
  
  /* Временно для сетки */
  min-height: 264px;
  outline: 2px solid red;
}

.filter-option-radio_button-list {
  list-style: none;
  
  margin: 0;
  padding: 0;
  
  /* Временно для сетки */
  min-height: 199px;
  outline: 2px solid red;
}

.filter-button {
  width: 140px;
  
  /* Временно для сетки */
  min-height: 38px;
  outline: 2px solid orange;
}


.catalog-and-sorting {
  
  width: 700px;
  
  /* Временно для сетки */
  outline: 2px solid orange;
}

.sorting {
  display: flex;
  
  margin-bottom: 20px;
  
  /* Временно для сетки */
  min-height: 38px;
  outline: 2px solid orange;
}

.sorting h2 {
  width: 140px;
  
  margin: 0;
  margin-right: 20px;
  
  /* Временно для сетки */
  outline: 2px solid orange;
}

.sorting-list {
  width: 540px;
  
  list-style: none;
  margin: 0;
  padding: 0;
  
  /* Временно для сетки */
  outline: 2px solid orange;
}

.product-list-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.popular-product-catalog-item {
  width: 220px;
  
  /* Временно для сетки */
/*  margin-top: 20px;*/
  min-height: 318px;
  outline: 2px solid orange;
}

.popular-product-catalog-item:nth-child(n+4) {
  margin-top: 20px;
}

.pagination-list {
  list-style: none;
  margin: 0;
  margin-left: 240px;
  margin-bottom: 60px;
  padding: 0;
  
  /* Временно для сетки */
  min-height: 38px;
  outline: 2px solid orange;
}


.service-info-flex {
  display: flex;
  flex-wrap: wrap;
  
  padding-top: 63px;
  padding-bottom: 73px;

  /* Временно для сетки */
  outline: 2px solid orange;
}

.service-info-flex h2 {
  min-width: 380px;
  
  margin: 0;

  margin-bottom: 30px;
  
  /* Временно для сетки */
  min-height: 33px;
  outline: 2px solid orange;
}

.description-info {
  
  min-width: 940px;
  /* Временно для сетки */
  min-height: 62px;
  outline: 2px solid orange;
}


.brand-logo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Код, который будет оживлять наш слайдер */
#slide-1:checked ~ .services-slider .services-slide-1,
#slide-2:checked ~ .services-slider .services-slide-2 {
  display: block;
}

.services-slider {
  position: relative;
  height: 100%;
}

.services-slide {
  position: relative;
}

.services-slide-descr {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: 2px solid green;
}

.services-slide-descr h3 {
  margin: 0 0 10px;
  text-transform: uppercase;
  font-size: 20px;
}

.service-slide-descr p {
  margin: 0;
}

.button {
  text-decoration: none;
  color: #fff;
  background: red;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.services-slider-control {
  position: absolute;
  bottom: 20px;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  display: flex;
}

.services-slider-control label {
  font-size: 0;
  width: 12px;
  height: 12px;
  border: 3px solid #fff;
  background: #fff;
  border-radius: 50%;
  margin-right: 10px;
}

.services-slider-control label:last-child {
  margin-right: 0;
}

#slide-1:checked ~ .services-slider [for="slide-1"],
#slide-2:checked ~ .services-slider [for="slide-2"] {
  background: red;
}