/* ----- Базовые стили ----- */
/*

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

a {
  text-decoration: none; 
}


.button {
  font: inherit;
  
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  
  background-color: #ee3643;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}


.sales-button {
  background-color: #63a63e;
}

.sales-button:hover {
  background-color: #5fbb2d;
}

.sales-button:active {
  background-color: #518534;
}

.marker-button {
  font: inherit;
  
  background-color: #ffffff;
  border: 3px solid #63a63e;
  color: #32425c
}

.marker-button:hover {
  background-color: #ffffff;
  border: 3px solid #32425c;
}

.marker-button:active {
  border: 3px solid rgba(50, 66, 92, 0.3);
  color: rgba(50, 66, 92, 0.3);
}


.services-product-button {
  font: inherit;
  
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
}

.services-product-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.services-product-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}


.main-header {
  background-color: #f3f7f9;
}

.main-header-top {
  background-color: #33445a;
}

.main-header-top a {
  color: #ffffff;
}




.main-header-top a:active {
  color: rgba(255, 255, 255, 0.6);
}

.description-header {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  
  color: #ff5357;
}

.phone-header a {
  font-size: 21px;
  line-height: 18px;
  
  color: #fb463c;
}

.address-header {
  font-size: 14px;
  line-height: 24px;
  
  color: #3d546e;
}

.login-and-registry-list,
.main-navigation-list {
  list-style: none;
}

.login-and-registry-list a {
  font-size: 21px;
  
  color: #000000;
}

.login-and-registry-list a:hover {
  color: #ee3643;
}

.login-and-registry-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  background-color: #32425c;
}

.main-navigation-list a {
  font-size: 17px;
  color: #ffffff;
}

.main-navigation-list a:hover {
  background-color: #293449;
}

.main-navigation-list a:active {
  background-color: #293449;
  color: rgba(255, 255, 255, 0.5);
}

.services-product-list {
  list-style: none;
}



.material {
  background-color: #ffbf47;
}

.tool {
  background-color: #3bbce3;
}

.technology {
  background-color: #dc91d8;
}

.punchers p {
  text-transform: uppercase;
}

.punchers a {
  font-size: 17px;
  text-transform: uppercase;
  
  background-color: #ff5357;
}

.punchers span {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  
  background-color: #ffffff;
}


.discounts {
  background-color: #8ed78f;
}

.delivery-services {
  background-color: #ffc047;
}

.popular-product-header,
.popular-brand-header {
  background-color: #f9f5f0;
}

.popular-product-header h2,
.popular-brand-header h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  
  color: #3d546e;
}

.popular-product-header a {
  font-size: 17px;
  text-transform: uppercase;
  color: #ffffff;
  
  background-color: #ff5357;
}


.popular-brand-header-list {
  list-style: none;
}

.popular-product-item,
.popular-brand-header-list li {
  border: 1px solid #eaeaea;
}

.popular-product-item:hover,
.popular-brand-header-list li:hover {
  box-shadow: 0px 10px 25px 0 rgba(29, 34, 49, 0.5);
}

.popular-brand-header-list li:active {
  opacity: 0.3;
}

.popular-product-item h3 {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  
  color: #000000;
}

.old-val {
  font-family: "PT Sans", Arial sans-serif;
  font-weight: 700;
  
  color: #a9a9a9;
  text-decoration: line-through;
}

.val {  
  font-family: "PT Sans", Arial sans-serif;
  font-weight: 700;
  
  color: #ffffff;
  background-color: #ee3643;
}

.service {
  background-color: #f4f8fa;
}

.service-info h2 {
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  
  color: #000000;
}

.service-descr h2 {
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
  
  color: #3d546e;
}

.service-info p,
.service-descr p {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 13px;
  line-height: 24px;
  
  color: #000000;
}

.delivery-brand {
  list-style: none;
  
  font-size: 18px;
  line-height: 20px;
  
  color: #000000;
}

.user {
  font-size: 21px;
  line-height: 18px;
  
  color: #000000;
}

.user:active {
  color: rgba(0, 0, 0, 0.3); 
}


.personal-area-list{
  list-style: none;
}

.personal-area-list-item a {
  font-size: 16px;
  line-height: 18px;
  
  text-decoration: underline;
  
  color: #32425c;
}

.personal-area-list-item a:focus,
.personal-area-list-item a:hover {
  color: #ee3643;
}

.personal-area-list-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-list {
  list-style: none;
}

.breadcrumbs-item a,
.breadcrumbs-item-current {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 13px;
  line-height: 18px;
  
  color: #000000;
}

.page-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  
  color: #32425c;
  background-color: #f2f6f8;
}

.filters fieldset {
  border: none;
}



.filter-caption {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  
  color: #000000;
}

.filter-val {
  background-color: #f7f3ec;
}

.filter p {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 17px;
  line-height: 30px;  
  background-color: #f7f3ec;
  
  color: #000000;
}

.filter-option-list {
  list-style: none;
}

.filter-option-item {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 15px;
  line-height: 20px;
  
  color: #000000;
}

.filter-option-item:disabled + span {
  color: #000000;
  
  opacity: 0.4;
}

.sorting h2 {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  
  color: #000000;
}

.sorting-list a { 
  font-family: "PT Sans", Arial sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: underline;
  
  color: #000000;
  
  opacity: 0.3;
}

.sorting-list a:hover,
.sorting-list a:focus {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: underline;
  
  color: #000000;
  opacity: 1;
}

.sorting-list a:active {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: underline;
  
  color: #ee3643;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 13px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  
  color: #000000;
}

.pagination-item-current a {
  font-family: "PT Sans", Arial sans-serif;
  font-size: 13px;
  background-color: #ee3643;
  
  color: #ffffff;
}

.pagination-item a:focus,
.pagination-item a:hover {
  border-color: #bdc6ca;
}

.pagination-item a:active {
  border-color: #ee3643;
}


.main-footer {
  background-color: #3d546e;
}

.main-footer-bottom {
  background-color: #33445b;
}

.site-navigation,
.site-navigation-2,
.footer-social {
  list-style: none;
}

.site-navigation a,
.footer-social a,
.developed a {
  color: #f3f7f9;
}

.site-navigation-2 a,
.developed p,
.developed a {
  color: #ffda96;
}

.developed a:focus,
.developed a:hover {
  text-decoration: underline;
}

.developed a:active {
  color: #ee3643;
  
  text-decoration: none;
}

.site-navigation a:focus,
.site-navigation a:hover,
.site-navigation-2 a:focus,
.site-navigation-2 a:hover {
  text-decoration: underline;
}

.site-navigation a:active,
.site-navigation-2 a:active {
  text-decoration: none;
  opacity: 0.5;
}

.modal {
  color: #000000;
  
  background-color: #ffffff;
}

.modal label {
  font-size: 18px;
  line-height: 18px;
}

.form input[type="text"] {
  font: inherit;
  font-family: "PT Sans", Arial sans-serif;
  font-size: 13px;
  line-height: 18px;
  
  color: #000000;
  border: 2px solid #dee3e4;
}

.modal-basked p{
  font-size: 30px;
  line-height: 18px;
  
  color: #000000;
}

.continue-shopping {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  
  text-transform: uppercase;
  
  background-color: #ffffff;
}
*/
/* ----- Базовые стили ----- */


/* ----- Сеточные стили ----- */

body {
  /* Временно для сетки */

  background-image: url("/img/technomart-index.jpg");
  background-size: 1200px auto;
  background-repeat: no-repeat;
}

.main-header {
 /* Временно для сетки */
  min-height: 320px;
  outline: 2px solid green;

}

.main-header-top {
  
}
